@model blog_web_app.ViewModels.PageViewModel

@if (Model.HasPreviousPage)
{
    <a asp-action="List" asp-route-currentPage="@(Model.CurrentPageNumber - 1)" class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.HasNextPage)
{
    <a asp-action="List" asp-route-currentPage="@(Model.CurrentPageNumber + 1)" class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}