@model Article

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <title>title</title>
</head>
<body>
<div>
    <h3>@Model?.Name</h3>
    <p>@Model?.Description</p>
    <p>Категория: @ViewBag.Category</p>
</div>
</body>
</html>