@model blog_web_app.ViewModels.ArticleListViewModel

@{
    Layout = "_Layout";
}

@await Html.PartialAsync("SearchForm", Model.SearchViewModel)

<div class="row">
    @foreach (var article in Model.Articles)
    {
        @await Html.PartialAsync("ArticleBriefInfo", article)
    }
</div>

@await Html.PartialAsync("Pagination", Model.PageViewModel)